In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in /anaconda3/lib/python3.6/site-packages (0.3.9)',
 'Requirement already satisfied: prettytable in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: six in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.11.0)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: sqlparse in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (0.2.4)',
 'Requirement already satisfied: ipython>=1.0 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (6.4.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.2.7)',
 'Requirement already satisfied: traitlets>=4.2 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)',
 'Requirement already satisfied: setuptools>=18.5 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (39.1.0)',
 'Requirement already satisfied: jedi>=0.10 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.12.0)',
 'Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (1.0.15)',
 'Requirement already satisfied: pexpect; sys_platform != "win32" in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.5.0)',
 'Requirement already satisfied: pygments in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.2.0)',
 'Requirement already satisfied: simplegeneric>0.8 in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.8.1)',
 'Requirement already satisfied: appnope; sys_platform == "darwin" in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: pickleshare in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.4)',
 'Requirement already satisfied: backcall in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: decorator in /anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.0)',
 'Requirement already satisfied: parso>=0.2.0 in /anaconda3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: wcwidth in /anaconda3/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)',
 'Requirement already satisfied: ptyprocess>=0.5 in /anaconda3/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.5.2)']

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [4]:
%%sql 
CREATE TABLE CARTOON(firstname varchar(50),lastname varchar(50));
INSERT INTO CARTOON VALUES('daffy','duck');
INSERT INTO CARTOON VALUES('Mickey','Mouse');
SELECT * from CARTOON;

 * sqlite://
Done.
1 rows affected.
1 rows affected.
Done.

[('daffy', 'duck'), ('Mickey', 'Mouse')]

In [5]:
%%sql
INSERT INTO CARTOON VALUES('BUZZ','LIGHTYEAR');

 * sqlite://
1 rows affected.

[]

In [6]:
%%sql 
select * from cartoon;

 * sqlite://
Done.

[('daffy', 'duck'), ('Mickey', 'Mouse'), ('BUZZ', 'LIGHTYEAR')]